*{
    margin: 0;
    /* padding: 0; */
}
body{
    background: linear-gradient(60deg,rgb(118, 196, 206),rgb(214, 143, 117),rgb(135, 219, 135));
}

#header{
    background-color: rgb(199, 231, 112);
    height: 70px;
}
#brand{
    text-align: center;
    background-color: rgb(24, 23, 3);
    width: 30%;
    float: left;
    color: rgba(243, 122, 9, 0.925);
    line-height: 70px;

}
a{
    color:rgb(3, 0, 156);
    text-decoration: none;
    margin-right: 40px;
}
#menu{
    text-align: centre;
    float: right;
    width: 50%;
    line-height: 70px;
    
}
#MiniSUV{
    text-align: center;
    margin-top: 50px;
    margin-bottom:10px;

}
 
 
#ms{
    background : linear-gradient(50deg,rgb(181, 63, 205),rgb(217, 255, 0));
    width: 50%;
    padding : 10px;
    border-radius : 50%;
    margin: 10px auto;
}
table{
    width: 100%;
    margin-top: 60px;
    

}
img{
     border-radius: 20px;
     box-shadow: 0 0 10px black; 
     margin:0 auto;
     display: block;

}
#sedan{
    text-align: center;
    margin-top: 50px;
    margin-bottom:10px;

}
#sd{
    text-align:center;
    background : linear-gradient(50deg,rgb(181, 63, 205),rgb(217, 255, 0));
    width: 50%;
    padding : 10px;
    border-radius : 50%;
    margin: 10px auto;
}
#Maybach{
    text-align: center;
    margin-top: 50px;
    margin-bottom:10px;
}
#mb{
    text-align:center;
    background : linear-gradient(50deg,rgb(181, 63, 205),rgb(217, 255, 0));
    width: 50%;
    padding : 10px;
    border-radius : 50%;
    margin: 10px auto;
}
#hatchbach{
    text-align: center;
    margin-top: 50px;
    margin-bottom:10px;
}
#hb{
    text-align:center;
    background : linear-gradient(50deg,rgb(181, 63, 205),rgb(217, 255, 0));
    width: 50%;
    padding : 10px;
    border-radius : 50%;
    margin: 10px auto;
}
#footer{
    text-align: centre;
    color: cornsilk;
    background-color: black;
    margin-top: 30px;
    padding: 20px;
}
#social{
    text-align: center;
    padding: 30px;
    font-size: 20px;
    

}
#social {
    margin: 20px;
}

h5{
    text-align: center;
}
